.Home {
display: grid;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: 70px;
  z-index: 999;
}
.signedIn {
    grid-row: 1;
    display: flex;
    justify-content: flex-end;
    max-height: 40px;
    width: auto;
}

.img{
    border-radius: 50%; 
    overflow: hidden; 
    width: 40px; 
    height: 40px;
    margin-top: 15px;
}
.button2{
    background-color: gray;
    margin-top: 10px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 250ms;
}

.button2:hover{
    background-color: red;
}

.name {
    text-transform: lowercase;
    color: aliceblue;
    margin-right: 10px;
    margin-top: 25px;
}

.b1 {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 2;
    color: aliceblue;
    font-size: large;
    margin: 20px 0px 0px 20px;
    outline: 1px solid red;
    outline-offset: 5px;
    transition: background-color 250ms;
}

.b1:link {
    text-decoration: none;
}

.b1:hover {
    background-color: red;
    color: white;
}

.b2 {
    grid-row: 1;
    color: aliceblue;
    font-size: large;
    margin-top: 20px;
}